.gridContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    height: 100%;
}

.col1 {
    grid-column: 1 / 2;
}

.col2 {
    grid-column: 2 / 3;
}

.col3 {
    grid-column: 3 / 4;
}

.col4 {
    grid-column: 4 / 5;
}

.col5 {
    grid-column: 5 / 6;
}

.col6 {
    grid-column: 6 / 7 !important;
}

.col7 {
    grid-column: 7 / 8;
}

.col8 {
    grid-column: 8 / 9;
}

.col9 {
    grid-column: 9 / 10;
}

.col10 {
    grid-column: 10 / 11;
}

.col11 {
    grid-column: 11 / 12;
}

.col12 {
    grid-column: 12 / 13;
}

.col--span3 {
    grid-column: 3 / 7;
}

/* example: center content between cols */
.col--span8 {
    grid-column: 4 / 11;
}

.col--span10 {
    grid-column: 4/ 11;
}

/* Example: you can create these span classes for main content area */
.content-cols {
    grid-column: 6 / 11;
    /* Editable: aligns with where your home content is */
}

/* Responsive: stack on small */
@media (max-width: 900px) {
    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    .content-cols {
        grid-column: 1 / 5;
        padding-left: 0;
        padding-right: 0;
    }
}