body {
  margin: 0;
  font-family: 'Akzidenz-Grotesk', Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #6b6b6b;
  color: #fafafa;
  padding: 2px 6px;
  border-radius: 3px;
}